<div class="bg-violet-700">
    <p>
        ¡Hola y bienvenido a mi web! 
        
        Soy Lautaro Lucas Bertera, un estudiante de Licenciatura en Desarrollo de Software en U.P.E. 
        Con una sólida formación en tecnología y desarrollo web. Anteriormente, completé una carrera de Frontend en CoderHouse, que consistió en tres cursos en total. Además, tengo una diplomatura en Ciencia de Datos e Inteligencia Artificial de la Universidad Nacional de San Martín (UNSAM).
        
        Durante mi formación académica, he adquirido un amplio conocimiento en diversas áreas del desarrollo, desde el diseño frontend hasta la implementación de soluciones avanzadas en inteligencia artificial. Mi enfoque se centra en la resolución creativa de problemas y en ofrecer soluciones efectivas y personalizadas para los desafíos que enfrentan mis clientes.
        
        Estoy cómodo trabajando con tecnologías como React, JavaScript, Astro y herramientas como Tailwind CSS y Bootstrap para desarrollar proyectos a medida. Además, he adquirido un buen dominio de Git y GitHub, lo que me permite gestionar eficientemente el control de versiones de mis proyectos y colaborar de manera efectiva con otros desarrolladores.
        
        Estoy comprometido a cumplir con los plazos y a entregar proyectos de calidad a mis clientes. En mi tiempo libre, disfruto manteniendo un estilo de vida activo y saludable, practicando deportes al aire libre como el skate, snowboard, surf y kitesurf. También me encanta experimentar con las  recetas  de cocina y explorar diferentes culturas culinarias.
        
        Estoy emocionado de seguir desarrollándome en el campo del desarrollo web y de enfrentar nuevos desafíos que me permitan crecer como profesional. 
        
        ¡Gracias por visitar mi página y espero poder colaborar contigo en futuros proyectos! 
    </p>
</div>