---
import CarouselProjects from "../components/CarouselProjects.astro";
import Header from '../components/Header.astro'

---
<Header/>
<div class="h-full w-full ">

    <h2 class="text-5xl">Projects</h2>
    
    <div>
        <CarouselProjects/>
    </div>


    <div>
        <h3>GamerGear</h3>
        <img src="../../public/add.png" alt="">
        <span>tecnologias</span>
        <p>descripcion: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae dolorem odio fugit, odit sed debitis amet eius eligendi veniam fugiat animi accusamus suscipit dolorum pariatur beatae error? Cupiditate, voluptate voluptatum?</p>
    </div>

    <div>
        <h3>Surf Club</h3>
        <img src="../../public/add.png" alt="">
        <span>tecnologias</span>
        <p>descripcion: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae dolorem odio fugit, odit sed debitis amet eius eligendi veniam fugiat animi accusamus suscipit dolorum pariatur beatae error? Cupiditate, voluptate voluptatum?</p>
    </div>

    <div>
        <h3>Webmaster Studio</h3>
        <img src="../../public/add.png" alt="">
        <span>tecnologias</span>
        <p>descripcion: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae dolorem odio fugit, odit sed debitis amet eius eligendi veniam fugiat animi accusamus suscipit dolorum pariatur beatae error? Cupiditate, voluptate voluptatum?</p>
    </div>

    <div>
        <h3>Creador de password</h3>
        <img src="../../public/add.png" alt="">
        <span>tecnologias</span>
        <p>descripcion: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae dolorem odio fugit, odit sed debitis amet eius eligendi veniam fugiat animi accusamus suscipit dolorum pariatur beatae error? Cupiditate, voluptate voluptatum?</p>
    </div>

    <div>
        <h3>Global Transport</h3>
        <img src="../../public/add.png" alt="">
        <span>tecnologias</span>
        <p>descripcion: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae dolorem odio fugit, odit sed debitis amet eius eligendi veniam fugiat animi accusamus suscipit dolorum pariatur beatae error? Cupiditate, voluptate voluptatum?</p>
    </div>

    <div>
        <h3>Clon de Testa website</h3>
        <img src="../../public/add.png" alt="">
        <span>tecnologias</span>
        <p>descripcion: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae dolorem odio fugit, odit sed debitis amet eius eligendi veniam fugiat animi accusamus suscipit dolorum pariatur beatae error? Cupiditate, voluptate voluptatum?</p>
    </div>

    
</div>