---
import Chat from './Chat.astro'
---

<div class="h-[90%] flex items-center border-4 m-5 rounded-3xl border-white bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/explosion-purple-dry-color-black-background_23-2148054173.jpg');">
    <div class="lg:w-[80%] xl:w-[60%] ">
        <h2 class=" hidden sm:flex text-lg  sm:text-3xl lg:text-6xl xl:text-7xl m-10 bg-clip-text text-transparent bg-gradient-to-r from-purple-500 to-pink-500 font-extrabold ">ABOUT ME . . . </h2>
    <Chat />
    </div>
    <div class="justify-center items-center  ">
        <img src="../../public/alien.png" class="hidden lg:flex w-full lg:w-[20rem] xl:w-[30rem]  " alt="">
        
    </div>
</div>



<!-- ///////////////////////////////
ESTO SERIA PARA PONER EN UN  MODAL o tipo alert en un boton SEE MORE!
///
¡Hola y bienvenido a mi web! 
Soy Lautaro Lucas Bertera, un estudiante de Licenciatura en Desarrollo de Software en U.P.E. 
Con una sólida formación en tecnología y desarrollo web. Anteriormente, completé una carrera de Frontend en CoderHouse, que consistió en tres cursos en total. Además, tengo una diplomatura en Ciencia de Datos e Inteligencia Artificial de la Universidad Nacional de San Martín (UNSAM).

Durante mi formación académica, he adquirido un amplio conocimiento en diversas áreas del desarrollo, desde el diseño frontend hasta la implementación de soluciones avanzadas en inteligencia artificial. Mi enfoque se centra en la resolución creativa de problemas y en ofrecer soluciones efectivas y personalizadas para los desafíos que enfrentan mis clientes.

Estoy cómodo trabajando con tecnologías como React, JavaScript, Astro y herramientas como Tailwind CSS y Bootstrap para desarrollar proyectos a medida. Además, he adquirido un buen dominio de Git y GitHub, lo que me permite gestionar eficientemente el control de versiones de mis proyectos y colaborar de manera efectiva con otros desarrolladores.

Estoy comprometido a cumplir con los plazos y a entregar proyectos de calidad a mis clientes. En mi tiempo libre, disfruto manteniendo un estilo de vida activo y saludable, practicando deportes al aire libre como el skate, snowboard, surf y kitesurf. También me encanta experimentar con las  recetas  de cocina y explorar diferentes culturas culinarias.

Estoy emocionado de seguir desarrollándome en el campo del desarrollo web y de enfrentar nuevos desafíos que me permitan crecer como profesional. ¡Gracias por visitar mi página y espero poder colaborar contigo en futuros proyectos! 





 <p class="text-black">
¡Hola y bienvenido a mi web! <br>
Soy Lautaro Lucas Bertera, un estudiante de Lic. Desarrollo de Software en U.P.E. Con una sólida formación en tecnología. Anteriormente completé la carrera de Desarrolador Frontend en CoderHouse, que consistió en tres cursos en total. Además, tengo una diplomatura en Ciencia de Datos e Inteligencia Artificial de la Universidad Nacional de San Martín (UNSAM). 
</p> -->
<!-- <p class="text-black">Soy un desarrollador con un espíritu emprendedor y autodidacta en constante aprendizaje. Actualmente, trabajo como freelancer creando proyectos a medida en React, sitios web estaticos con Astro e intereactivos con JavaScript. Para estilar utilizo Tailwind o Boostrap. Además, he adquirido un buen dominio de Git lo que me permite gestionar eficientemente el control de versiones de mis proyectos y colaborar de manera efectiva con otros desarrolladores. 
            </p> -->