<div class="w-full h-full sm:flex sm:justify-center  ">
    
    <div id="default-carousel" class="relative w-[90%] sm:w-[30%] flex justify-center" data-carousel="slide">

        <div class="relative h-20 w-20 overflow-hidden rounded-lg sm:h-40 sm:w-40 md:h-60 md:w-60 m-5 lg:h-40 lg:w-40 xl:h-60 xl:w-60">
    
            <div class="  flex justify-center items-center rounded-3xl  border-4 p-1 sm:p-4 border-neutral-700 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/black-abstract.jpg'); hidden duration-700 ease-in-out" data-carousel-item>
                <img class="h-auto max-w-[80%] sm:max-w-[50%]  absolute block rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="../../public/tecnologias/react-icon.png" alt="">
            </div>
            
            <div class="  flex justify-center items-center rounded-3xl  border-4 p-1 sm:p-4 border-neutral-700 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/black-abstract.jpg'); hidden duration-700 ease-in-out" data-carousel-item>
                <img class="h-auto max-w-[80%] sm:max-w-[50%] sm:max-h-[50%] absolute block w-full rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="../../public/tecnologias/js.png" alt="">
            </div>
            <div class="  flex justify-center items-center rounded-3xl  border-4 p-1 sm:p-4 border-neutral-700 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/black-abstract.jpg'); hidden duration-700 ease-in-out" data-carousel-item>
                <img class="h-auto max-w-[80%] sm:max-w-[50%] sm:max-h-[50%] absolute block w-full rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="../../public/tecnologias/css(1).png" alt="">
            </div>
            
            <div class="  flex justify-center items-center rounded-3xl  border-4 p-1 sm:p-4 border-neutral-700 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/black-abstract.jpg'); hidden duration-700 ease-in-out" data-carousel-item>
                <img class="h-auto max-w-[80%] sm:max-w-[50%] sm:max-h-[50%] absolute block w-full rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="../../public/tecnologias/photoshop2.png" alt="">
            </div>

        </div>

    </div>
    
    <div id="default-carousel" class="relative w-[90%] sm:w-[30%] flex justify-center" data-carousel="slide">
    
        <div class="relative h-20 w-20 overflow-hidden rounded-lg sm:h-40 sm:w-40 md:h-60 md:w-60 m-5 lg:h-40 lg:w-40 xl:h-60 xl:w-60">
            <div class="  flex justify-center items-center rounded-3xl mx-auto border-4 p-1 sm:p-4 border-neutral-700 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/black-abstract.jpg'); hidden duration-700 ease-in-out" data-carousel-item>
                <img class="h-auto max-w-[80%] sm:max-w-[50%] sm:max-h-[50%] absolute block w-full rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="../../public/tecnologias/html-5(3).png" alt="">
            </div>
    
            <div class="  flex justify-center items-center rounded-3xl mx-auto border-4 p-1 sm:p-4 border-neutral-700 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/black-abstract.jpg'); hidden duration-700 ease-in-out" data-carousel-item>
                <img class="h-auto max-w-[80%] sm:max-w-[50%] sm:max-h-[50%] absolute block rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="../../public/tecnologias/bootstrap.png" alt="">
            </div>
            
            
            <div class="  flex justify-center items-center rounded-3xl mx-auto border-4 p-1 sm:p-4 border-neutral-700 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/black-abstract.jpg'); hidden duration-700 ease-in-out" data-carousel-item>
                <img class="h-auto max-w-[80%] sm:max-w-[50%] sm:max-h-[50%] absolute block w-full rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="../../public/tecnologias/python1.png
                " alt="">
            </div>
            
            <div class="  flex justify-center items-center rounded-3xl mx-auto border-4 p-1 sm:p-4 border-neutral-700 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/black-abstract.jpg'); hidden duration-700 ease-in-out" data-carousel-item>
                <img class="h-auto max-w-[80%] sm:max-w-[50%] sm:max-h-[50%] absolute block w-full rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="../../public/tecnologias/icons8-c-programación-480.png
                " alt="">
            </div>
        </div>
        
        
    </div>
    
    <div id="default-carousel" class="relative w-[90%] sm:w-[30%] flex justify-center" data-carousel="slide">
        
        <div class="relative h-20 w-20 overflow-hidden rounded-lg sm:h-40 sm:w-40 md:h-60 md:w-60 m-5 lg:h-40 lg:w-40 xl:h-60 xl:w-60">
            
            <div class="  flex justify-center items-center rounded-3xl mx-auto border-4 p-1 sm:p-4 border-neutral-700 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/black-abstract.jpg'); hidden duration-700 ease-in-out" data-carousel-item>
                <img class="h-auto max-w-[80%] sm:max-w-[50%] sm:max-h-[50%] absolute block w-full rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="../../public/tecnologias/9073628_tailwind_icon.png" alt="">
            </div>
            
            <div class="  flex justify-center items-center rounded-3xl mx-auto border-4 p-1 sm:p-4 border-neutral-700 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/black-abstract.jpg'); hidden duration-700 ease-in-out" data-carousel-item>
                <img class="h-auto max-w-[80%] sm:max-w-[50%] sm:max-h-[50%] absolute block w-full rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="../../public/tecnologias/mui.png" alt="">
            </div>
            
    
            <div class="  flex justify-center items-center rounded-3xl mx-auto border-4 p-1 sm:p-4 border-neutral-700 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/black-abstract.jpg'); hidden duration-700 ease-in-out" data-carousel-item>
                <img class="h-auto max-w-[80%] sm:max-w-[50%] sm:max-h-[50%] absolute block rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="../../public/tecnologias/github(1).png" alt="">
            </div>

            <div class="  flex justify-center items-center rounded-3xl mx-auto border-4 p-1 sm:p-4 border-neutral-700 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/black-abstract.jpg'); hidden duration-700 ease-in-out" data-carousel-item>
                <img class="h-auto max-w-[80%] sm:max-w-[50%] sm:max-h-[50%] absolute block rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="../../public/tecnologias/astro-logo.svg" alt="">
            </div>
        </div>
        
        
    </div>

    <div id="default-carousel" class="relative w-[90%] sm:w-[30%] lg:flex justify-center hidden" data-carousel="slide">
        
        <div class="relative h-20 w-20 overflow-hidden rounded-lg sm:h-40 sm:w-40 md:h-60 md:w-60 m-5 lg:h-40 lg:w-40 xl:h-60 xl:w-60">
            
            <div class="  flex justify-center items-center rounded-3xl mx-auto border-4 p-1 sm:p-4 border-neutral-700 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/black-abstract.jpg'); hidden duration-700 ease-in-out" data-carousel-item>
                <img class="h-auto max-w-[80%] sm:max-w-[50%] sm:max-h-[50%] absolute block w-full rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="../../public/tecnologias/git(1).png" alt="">
            </div>
            
            <div class="  flex justify-center items-center rounded-3xl mx-auto border-4 p-1 sm:p-4 border-neutral-700 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/black-abstract.jpg'); hidden duration-700 ease-in-out" data-carousel-item>
                <img class="h-auto max-w-[80%] sm:max-w-[50%] sm:max-h-[50%] absolute block w-full rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="../../public/tecnologias/sass(2).png" alt="">
            </div>
            
    
            <div class="  flex justify-center items-center rounded-3xl mx-auto border-4 p-1 sm:p-4 border-neutral-700 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/black-abstract.jpg'); hidden duration-700 ease-in-out" data-carousel-item>
                <img class="h-auto max-w-[80%] sm:max-w-[50%] sm:max-h-[50%] absolute block rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="../../public/tecnologias/wordpress.png" alt="">
            </div>
            <div class="  flex justify-center items-center rounded-3xl mx-auto border-4 p-1 sm:p-4 border-neutral-700 hover:border-fuchsia-600   bg-position-center bg-size-auto bg-cover bg-opacity-50 bg-image " style="background-image: url('../../public/black-abstract.jpg'); hidden duration-700 ease-in-out" data-carousel-item>
                <img class="h-auto max-w-[80%] sm:max-w-[50%] sm:max-h-[50%] absolute block rounded-lg mx-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" src="../../public/tecnologias/netlify.png" alt="">
            </div>
            
        </div>
        
        
    </div>
</div>