<div class='border-teal-400  border-4 rounded-3xl p-10 bg-opacity-95 bg-black'>
    <div class="flex justify-start mx-5">
        <img src="../../public/galaxy2.png" class="w-20 h-20 me-5" alt="">
        <h2 class=" text-lg  md:text-3l lg:text-6xl  m-1 bg-clip-text text-transparent bg-gradient-to-r from-purple-500 to-pink-500 font-extrabold ">MY JOBS . . . </h2>
    </div>
    <div class="flex justify-center items-center p-5">
        <figure class="m-5 relative max-w-sm transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0">
            <a href="#">
                <img class="rounded-lg" src="../../public/webmaster.png" alt="image description">
            </a>
            <figcaption class="absolute px-4 text-lg text-white bottom-6">
                <p>Do you want to get notified when a new component is added to Flowbite?</p>
            </figcaption>
        </figure>
        
        <figure class="m-5 relative max-w-sm transition-all duration-300 cursor-pointer filter grayscale hover:grayscale-0">
            <a href="#">
                <img class="rounded-lg" src="../../public/surfclub.png" alt="image description">
            </a>
            <figcaption class="absolute px-4 text-lg text-white bottom-6">
                <p>Do you want to get notified when a new component is added to Flowbite?</p>
            </figcaption>
        </figure>
    </div>
    <div class="flex justify-end">
        <button class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-white rounded-lg group bg-gradient-to-br from-purple-500 to-pink-500 group-hover:from-purple-500 group-hover:to-pink-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 ">
            <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-black dark:bg-gray-900 rounded-md group-hover:bg-opacity-0 ">
            SEE MORE !
            </span>
        </button>
    </div>

</div>



